---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.icon {
    height: 21px;
    width: 21px
}

.site-header {
  background: linear-gradient(90deg, rgba(17,64,83,1) 0%, rgba(9,121,114,1) 43%, rgba(0,212,255,1) 100%);
}
